body {
  background: url("./images/trees&sunset.jpg") center center/cover no-repeat
    white;
  height: 100vh;
}

#open-btn {
  position: absolute;
  top: 70%;
  left: 13%;
  width: 200px;
  height: 50px;
  font-size: 15px;
  background: transparent;
  color: white;
  border: solid 2px white;
  border-radius: 15px;

  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  transition: 0.5s;
}
#open-btn:hover {
  background-color: white;
  color: black;
}

#modal {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 200px;
  height: 100px;
  padding: 10px 10px;
  font-size: 1.5rem;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  animation: animateModal 3s;
}

#close-btn {
  font-size: 3rem;
  font-weight: bold;
}

#close-btn:hover {
  cursor: pointer;
  font-size: 4rem;
  color: red;
}

#modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgb(0, 0, 0, .25);
}

@keyframes animateModal {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}


